In [39]:
import pandas as pd

In [40]:
df = pd.read_csv('CRM_data.csv')

In [41]:
df.head(2)

,Subscribe date,Stagename,Project type,Property kind,Source of lead,Amount,Lost reason,Lost date,Won,Cout du lead
0,2019-02-25,Gagné,primary_residence,old,partner1,118,NaN,NaN,1.0,NaN
1,2019-02-26,Perdu,primary_residence,new,partner1,184,N'a jamais répondu (+5 appels),2019-03-13,NaN,NaN

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3606 entries, 0 to 3605
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Subscribe date  3606 non-null   object
 1   Stagename       3606 non-null   object
 2   Project type    3600 non-null   object
 3   Property kind   1847 non-null   object
 4   Source of lead  1562 non-null   object
 5   Amount          3606 non-null   int64
 6   Lost reason     3205 non-null   object
 7   Lost date       1842 non-null   object
 8   Won             368 non-null    float64
 9   Cout du lead    834 non-null    float64
dtypes: float64(2), int64(1), object(7)
memory usage: 281.8+ KB

In [43]:
df.isnull().mean()*100

Subscribe date     0.000000
Stagename          0.000000
Project type       0.166389
Property kind     48.779811
Source of lead    56.683306
Amount             0.000000
Lost reason       11.120355
Lost date         48.918469
Won               89.794786
Cout du lead      76.871880
dtype: float64

In [44]:
df.nunique()

Subscribe date     88
Stagename           2
Project type        3
Property kind       5
Source of lead     10
Amount            207
Lost reason        12
Lost date         157
Won                 1
Cout du lead       27
dtype: int64

In [45]:
for col in df.columns:
  unique_values = df[col].unique()
  print(col, unique_values)

Subscribe date ['2019-02-25' '2019-02-26' '2019-01-09' '2019-03-22' '2019-03-03'
 '2019-03-09' '2019-03-21' '2019-03-27' '2019-02-07' '2019-01-05'
 '2019-01-17' '2019-02-11' '2019-01-08' '2019-01-12' '2019-01-20'
 '2019-01-02' '2019-01-04' '2019-02-16' '2019-01-19' '2019-02-22'
 '2019-02-09' '2019-02-21' '2019-02-28' '2019-03-28' '2019-03-23'
 '2019-02-27' '2019-01-16' '2019-02-08' '2019-02-20' '2019-02-13'
 '2019-02-17' '2019-02-03' '2019-02-01' '2019-01-06' '2019-01-27'
 '2019-01-26' '2019-01-07' '2019-01-23' '2019-01-14' '2019-02-10'
 '2019-03-26' '2019-03-05' '2019-01-03' '2019-01-13' '2019-02-18'
 '2019-01-01' '2019-03-25' '2019-03-14' '2019-03-07' '2019-03-01'
 '2019-03-04' '2019-03-13' '2019-03-20' '2019-03-19' '2019-03-29'
 '2019-01-30' '2019-01-15' '2019-03-18' '2019-01-11' '2019-01-29'
 '2019-03-06' '2019-01-10' '2019-02-06' '2019-02-15' '2019-02-02'
 '2019-03-11' '2019-03-08' '2019-03-15' '2019-03-02' '2019-03-16'
 '2019-03-10' '2019-03-17' '2019-03-12' '2019-02-05' '2019-01-31'
 '2019-02-14' '2019-01-25' '2019-03-24' '2019-01-18' '2019-01-24'
 '2019-02-23' '2019-02-24' '2019-02-19' '2019-01-28' '2019-02-04'
 '2019-01-21' '2019-02-12' '2019-01-22']
Stagename ['Gagné' 'Perdu']
Project type ['primary_residence' 'rental_investment' 'secondary_residence' nan]
Property kind ['old' 'new' nan 'VEFA' 'land_construction' 'construction']
Source of lead ['partner1' 'partner10' 'partner2' 'partner3' 'partner4' 'partner5'
 'partner6' 'partner7' 'partner8' 'partner9' nan]
Amount [118 184 243 215 142 246  77 162  60 108 123 205 127 111 153 226 141  62
  69 200 100  89 241  55 231 211 207 181 112 107 124 242 183 125 240 103
  76 157 137 175 212  84 189 199  53 185  75 208 190 159 131 166 139 169
 197 163 144 121  87 220 122  85 244 224  80 249 102 235 164 209 237 104
 120  61 233 276 204 188 245 272 278 174 259 285 277 228 173  81 192  58
 150 152 206 147 172  67 132 213 225 171 248 221 136 135 250 219 198  54
 196 179  96 138  99 129 115  52  72 229 133  74 110 178 105  66 161 155
 109 146 148 232 222  97 202 151 128 216 126 247 195  88 158  90 101 201
  70  64 156 140  78 193 177 236  57 217 167  63 214 149 187  68 194  93
 134 176  83  65  98 230 143 218 210 180 154 117 234 182 114  51 203 168
  92  91  94 160  56  71 186 227 191  95 145  50 223  59  79  73 113 119
 239 170 165 116 238 130 106  82  86]
Lost reason [nan "N'a jamais répondu (+5 appels)"
 'Projet en recherche / Projet lointain'
 'Ne souhaite pas faire ce dossier' 'Perdu contre autre banque'
 'A répondu mais ne répond plus (+5 appels)' 'Test'
 'Dossier non finançable' 'Projet arrêté' 'Faux email & numéro' 'Doublon'
 'Perdu contre autre courtier' 'Client extrêmement difficile']
Lost date [nan '2019-03-13' '2019-03-28' '2019-05-06' '2019-04-24' '2019-05-02'
 '2019-06-12' '2019-03-20' '2019-03-29' '2019-08-01' '2019-05-18'
 '2019-03-22' '2019-04-04' '2019-03-06' '2019-03-05' '2019-03-26'
 '2019-04-23' '2019-08-28' '2019-04-29' '2019-08-30' '2019-09-09'
 '2019-04-17' '2019-05-20' '2019-09-19' '2019-06-18' '2019-09-05'
 '2019-06-25' '2019-04-05' '2019-04-02' '2019-06-27' '2019-06-04'
 '2019-06-24' '2019-07-24' '2019-06-13' '2019-05-31' '2019-05-15'
 '2019-05-28' '2019-04-13' '2019-05-10' '2019-07-23' '2019-04-09'
 '2019-06-06' '2019-05-03' '2019-05-09' '2019-09-17' '2019-07-12'
 '2019-10-03' '2019-04-01' '2019-05-16' '2019-07-03' '2019-05-22'
 '2019-03-16' '2019-09-12' '2019-03-08' '2019-04-03' '2019-04-16'
 '2019-03-15' '2019-03-14' '2019-03-27' '2019-05-17' '2019-04-26'
 '2019-04-20' '2019-03-25' '2019-09-23' '2019-04-12' '2019-06-22'
 '2019-03-18' '2019-03-19' '2019-05-29' '2019-03-09' '2019-06-21'
 '2019-03-07' '2019-04-11' '2019-03-11' '2019-03-12' '2019-06-26'
 '2019-05-13' '2019-04-08' '2019-04-18' '2019-04-15' '2019-09-18'
 '2019-09-24' '2019-06-19' '2019-09-06' '2019-03-30' '2019-03-21'
 '2019-05-24' '2019-04-19' '2019-04-10' '2019-05-14' '2019-07-22'
 '2019-07-05' '2019-08-05' '2019-09-11' '2019-07-15' '2019-09-25'
 '2019-10-02' '2019-06-03' '2019-07-17' '2019-07-09' '2019-07-10'
 '2019-03-04' '2019-09-26' '2019-05-21' '2019-08-27' '2019-02-11'
 '2019-04-30' '2019-07-19' '2019-09-04' '2019-08-06' '2019-06-11'
 '2019-09-02' '2019-07-08' '2019-05-23' '2019-08-12' '2019-07-16'
 '2019-05-27' '2019-05-25' '2019-09-10' '2019-04-25' '2019-09-03'
 '2019-06-20' '2019-06-17' '2019-10-04' '2019-07-01' '2019-09-16'
 '2019-06-05' '2019-07-31' '2019-08-13' '2019-07-04' '2019-07-11'
 '2019-08-19' '2019-06-15' '2019-07-18' '2019-10-01' '2019-06-14'
 '2019-07-02' '2019-09-13' '2019-05-07' '2019-08-23' '2019-06-08'
 '2019-08-21' '2019-03-23' '2019-08-02' '2019-08-22' '2019-08-26'
 '2019-08-08' '2019-06-07' '2019-08-07' '2019-08-24' '2019-08-09'
 '2019-06-10' '2019-04-14' '2019-04-06' '2019-09-30' '2019-06-01'
 '2019-05-04' '2019-08-14']
Won [ 1. nan]
Cout du lead [ nan  10.  33.  25.  28.  32.  34.  27.  30.  29.  31.  26.  35.  11.
  16.  12.  20.  19.  17.  13.  14.  15.  18.  37.  23.  24.   5. 100.]

In [46]:
df['Subscribe date'] = pd.to_datetime(df['Subscribe date'])
df['Lost date'] = pd.to_datetime(df['Lost date'])

In [47]:
df['Stagename_bin'] = df['Stagename'].apply(lambda x: 1 if x == 'Gagné' else 0)
df

,Subscribe date,Stagename,Project type,Property kind,Source of lead,Amount,Lost reason,Lost date,Won,Cout du lead,Stagename_bin
0,2019-02-25,Gagné,primary_residence,old,partner1,118,NaN,NaT,1.0,NaN,1
1,2019-02-26,Perdu,primary_residence,new,partner1,184,N'a jamais répondu (+5 appels),2019-03-13,NaN,NaN,0
2,2019-01-09,Perdu,primary_residence,NaN,partner1,243,N'a jamais répondu (+5 appels),NaT,NaN,NaN,0
3,2019-03-22,Perdu,primary_residence,new,partner1,215,Projet en recherche / Projet lointain,2019-03-28,NaN,NaN,0
4,2019-03-03,Gagné,rental_investment,old,partner1,142,NaN,NaT,1.0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...
3601,2019-01-26,Perdu,rental_investment,NaN,NaN,196,Perdu contre autre banque,NaT,NaN,NaN,0
3602,2019-01-03,Gagné,primary_residence,old,NaN,59,NaN,NaT,1.0,NaN,1
3603,2019-03-06,Perdu,rental_investment,old,NaN,242,Projet en recherche / Projet lointain,2019-03-15,NaN,NaN,0
3604,2019-02-14,Perdu,primary_residence,old,NaN,112,Ne souhaite pas faire ce dossier,2019-04-01,NaN,NaN,0
3605,2019-01-22,Perdu,primary_residence,NaN,NaN,140,N'a jamais répondu (+5 appels),NaT,NaN,NaN,0

In [48]:
dummies = pd.get_dummies(df['Stagename_bin'])
dummies.rename({0: 'Perdu', 1: 'Gagné'}, inplace=True, axis=1)
df = pd.concat([df, dummies],axis=1)

In [49]:
win = df['Gagné'].sum()
win

368

In [50]:
dum_res = pd.get_dummies(df['Project type'])
dum_res.sum()

primary_residence      2878
rental_investment       665
secondary_residence      57
dtype: int64

In [51]:
df.rename(columns={ 'Lost reason': 'Lost_reason', 'Source of lead': 'Source_of_lead'}, inplace=True)

In [52]:
test = df.groupby('Source_of_lead')['Amount'].sum()
test

Source_of_lead
partner1     13996
partner10     4153
partner2     34871
partner3      7301
partner4     65485
partner5      3940
partner6     23800
partner7       690
partner8      1935
partner9     99044
Name: Amount, dtype: int64

In [53]:
df.Lost_reason.unique()

array([nan, "N'a jamais répondu (+5 appels)",
       'Projet en recherche / Projet lointain',
       'Ne souhaite pas faire ce dossier', 'Perdu contre autre banque',
       'A répondu mais ne répond plus (+5 appels)', 'Test',
       'Dossier non finançable', 'Projet arrêté', 'Faux email & numéro',
       'Doublon', 'Perdu contre autre courtier',
       'Client extrêmement difficile'], dtype=object)

In [56]:
df['Project type'] = df['Project type'].fillna('other')

array(['primary_residence', 'rental_investment', 'secondary_residence',
       'other'], dtype=object)